<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{# if message}}
	<h2>{{message}}</h2>
{{/if}}

<hr>
{{# if body}}
	<lu>
		{{# each body}}
			<li>
				<a href="{{ this.link }}"><span>{{ this.title }}</span></a>
			</li>
		{{/each}}
	</lu>
{{/if}}


